@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-950 text-slate-100 font-sans;
}

/* Background gradient for the whole app */
.app-gradient-bg {
  background:
    radial-gradient(circle at top, rgba(59, 130, 246, 0.35), transparent 55%),
    radial-gradient(circle at bottom, rgba(248, 250, 252, 0.05), transparent 60%);
}
